.moderation {
     margin-top: 50px;
     .moderation-box {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          word-break: break-all;

          .text {
               width: 40%;
          }
     }

     .buttons {

          button {
               padding: 0;
               width: 40px;
               height: 40px;
               margin-right: 10px;
               border-radius: 50%;
          }
     }
}

.all-verified {
     border-bottom: 1px solid #000;
     margin-top: 50px;
}

@media all and (max-width: 768px) {
     .moderation {
          .moderation-box {
               flex-direction: column;

               .text {
                    width: 100%;
               }

               div {
                    margin-top: 20px;                   
               }

               .fio {
                    font-weight: bold;
                    font-size: 20px;
               }

               .buttons {
                    button {
                         font-weight: bold;
                    }
               }
          }
     }
}