<app-header></app-header>

<section class="categories">
    <div class="container">
        <div class="categories-head">
            <h2 class="section-title">
                Категории
            </h2>

            <button type="button" class="add-categories btn">
                Добавить категорию
            </button>
        </div>
    </div>
</section>

<section class="categories-boxes">
    <div class="container">
        <article class="category-box">
            <p class="category-name">name</p>
            <p class="category-discussion">254 обсуждений</p>
        </article>

        <article class="category-box">
            <p class="category-name">name</p>
            <p class="category-discussion">254 обсуждений</p>
        </article>
    </div>
</section>

<app-footer></app-footer>

<!-- 
     hidden 2
     comments 59 
     rating 120
 -->

 <!-- - 5 -->