<div class="notifications">
	<div *ngFor="let notification of notifications" class="notification" [ngClass]="className(notification)">
		<ng-container *ngTemplateOutlet="notificationTpl;context:{notification:notification}"></ng-container>
	</div>
</div>

<ng-template #notificationTpl let-notification="notification">

	<div class="title" fxLayout="row">
		<div>{{notification.title}}</div>
		<a
			class="close"
            (click)="close(notification)" 
        >
            x
		</a>
	</div>

	<div class="message">{{notification.message}}</div>

</ng-template>