<!-- <router-outlet></router-outlet> -->
<app-header></app-header>
<app-tabs [link]="'/cabinet/moderation'"></app-tabs>

<section class="select_method">
     <div class="select_method-box card-box" routerLink="companies-verification">
          <p>Компании</p>
     </div>

     <div class="select_method-box card-box" routerLink="comments-verification">
          <p>Комментарии</p>
     </div>

     <div class="select_method-box card-box" routerLink="users-verification">
          <p>Пользователи</p>
     </div>
</section> 