<app-header></app-header>

<section class="choose">
     <div class="container">
          <div class="choose-container">
               <div class="choose-box">
                    <div class="choose-card" routerLink="/cabinet/admin/home">
                         <p>Аналитика</p>
                    </div>
                    <div class="choose-card" routerLink="/cabinet/admin/companies">
                         <p>Редактирование компании</p>
                    </div>
                    <!-- <div class="choose-card" routerLink="cabinet/admin/home">
                         <p>Обновление прав</p>
                    </div>
                    <div class="choose-card" routerLink="cabinet/admin/users">
                         <p>Редактирование компании</p>
                    </div> -->
               </div>
               
               <div class="choose-box">
                    <!-- <div class="choose-card" routerLink="cabinet/admin/companies">
                         <p>Редактирование сайта</p>
                    </div>
                    <div class="choose-card" routerLink="cabinet/admin/analytics">
                         <p>Аналитика</p>
                    </div> -->
               </div>
          </div>
     </div>
</section>

<app-footer></app-footer>